@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.searchBox {
  background-color: #fff;
  box-shadow: 1px 1px 14px #ccc;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 33%;
  margin: 30px 10px;
  padding: 14px;
  display: flex;
}
.searchInput {
  padding: 10px;
  outline: none;
  border: none;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.searchBtn {
  background-color: rgb(63, 24, 206);
  border: 1px solid rgb(63, 24, 206);
  color: #fff;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
}
.searchBtn:hover {
  background-color: rgb(37, 9, 140);
  border-color: rgb(92, 60, 209);
}

.temp {
  font-size: 6rem;
  font-weight: 200;
  text-align: center;
  margin: 4px 10px;
}

.temp span {
  font-size: 1rem;
  margin-left: 16px;
}
.tempBox p {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.otherDetails {
  font-size: 1rem;
  list-style: none;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #ccc;
}
.otherDetails li {
  display: inline-block;
  margin: 4px 20px;
}
