@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.box div {
  padding: 20px;
  width: 20%;
  height: auto;
  box-shadow: 1px 2px 12px silver;
  border-radius: 16px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}
h1,
p {
  margin: 0;
}
.box div:hover {
  background-color: #135ee0;
  color: #fff;
}
.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #fff;
  box-shadow: 1px 2px 12px silver;
  width: auto;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.navigation li {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  align-self: center;
}

.navigation li:hover {
  background-color: #135ee0;
  color: #fff;
}
