.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.container .btn {
  margin: 0 10px;
}
.counter {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.mainContainer {
  display: flex;
}
